# JetBrains / WebStorm
.idea/
*.iml
*.iws
*.ipr

# OS metadata
.DS_Store
Thumbs.db

#Personal
todo.txt

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
